@import 'bootstrap';

/* Generales */
:root {
    --colorPrimario: #1A1C20;
    --colorSecundario: #37b9a1;
    --colorSecundarioHover: #126959;
    --grisOscuro: #4b4b4b;
    --gris: #808080;
    --grisClaro: #ececec;
    --grisBody: #F2F3F5;
    --blanco: #fff;
    --negro: #000;
    --negroClaro: #292929;
    --fuentePrincipal: "Poppins", sans-serif;
    --colorLogo: #ff311a;
    --colorLogoHover: #bb3526;

    --fontSizeH1: 4.5rem;
    --fontSizeH2: 4rem;
    --fontSizeH3: 3rem;
    --fontSizeH4: 2.6rem;
    --fontSizeH5: 2.2rem;
    --fuenteParrafoLong: 2rem;
    --fuenteParrafo: 1.5rem;

    --widthPhone: 95%;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
}

li,
a {
    border: none;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.boton {
    cursor: pointer;
    color: var(--blanco);
    font-size: 1.5rem;
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
}


.botonMini {
    cursor: pointer;
    color: var(--blanco);
    font-size: 1.2rem;
    padding: 1.2rem 2rem 1.2rem 2rem;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
}

@media (min-width: 992px) {
    .boton {
        font-size: 1.7rem;
    }
}

.btnRed {
    background-color: var(--colorLogo);
}

.btnRed:hover {
    background-color: var(--colorLogoHover);
}

.btnBorder {
    border: 1px solid var(--blanco);
}

.btnBorder:hover {
    border: 1px solid var(--colorLogo);
    background-color: var(--colorLogoHover);
}

.btnM {
    font-size: 1.2rem;
}


@media (min-width: 480px) {
    .btnM {
        margin: 1rem;
        font-size: 1.4rem;
    }

}

@media (min-width: 992px) {
    .btnM {
        font-size: 1.5rem;
    }
}

.separador {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.separadorImagen {
    max-width: 3rem;
}

.hrwidth {
    width: calc(55% - 50px);
}

@media (min-width: 480px) {
    .hrwidth {
        width: calc(55% - 100px);
    }
}

/* Inicio Ruta */

.contenedor-imagenFija {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../public/imagenes/imagenFondoFijo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    background-repeat: no-repeat;
}


/** seccion1  **/

.seccion1Fondo {
    background-color: var(--blanco);
    width: 100%;
}

.seccion1 {
    width: var(--widthPhone);
    max-width: 120rem;
    margin: 0 auto;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seccion1-info h2 {
    font-size: var(--fontSizeH3);
    color: var(--negroClaro);
    text-align: center;
}

.seccion1-info p {
    color: var(--gris);
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-size: var(--fuenteParrafo);
    text-align: center;
}

@media (min-width: 992px) {
    .seccion1 {
        width: 100%
    }

    .seccion1-info h2 {
        font-size: var(--fontSizeH2);
    }

    .seccion1-info p {
        font-size: var(--fuenteParrafoLong);
    }
}


/** seccionProductos **/

.seccionProductos {
    background-color: var(--grisClaro);
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.productosContenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.productosGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    width: var(--widthPhone);
    margin: 0 auto;
}

.productosInfo h2 {
    color: var(--negroClaro);
    font-size: var(--fontSizeH3);
    text-align: center;
}

.productosInfo p {
    color: var(--negroClaro);
    font-size: var(--fuenteParrafo);
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.productos {
    position: relative;
    width: 100%;
    max-height: 20rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 1rem;
}

.productos::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Asegura que el pseudo-elemento tenga la misma altura que el elemento principal */
    z-index: 1;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    opacity: 100%;
    transition: opacity 0.3s ease;
}

.productos:hover::after {
    opacity: 80%;
}




.productosTitulo {
    position: absolute;
    z-index: 998;
    color: var(--blanco);
    font-size: var(--fuenteParrafoLong);
}

.imagenProductos {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    object-fit: cover;
}

.productos:hover .imagenProductos {
    transform: scale(1.1);
}

@media (min-width: 768px) {
    .productosGrid {
        grid-template-columns: repeat(12, 1fr);
        width: 95%;
    }


    .producto1 {
        grid-column: 1/8;
    }

    .producto2 {
        grid-column: 8/13;
    }

    .producto3 {
        grid-column: 1/9;
    }

    .producto4 {
        grid-column: 9/13;
    }

    .producto5 {
        grid-column: 1/6;
    }

    .producto6 {
        grid-column: 6/13;
    }

    .producto7 {
        grid-column: 1/7;
    }

    .producto8 {
        grid-column: 7/13;
    }

    .producto9 {
        grid-column: 1/9;
    }


}

@media (min-width: 992px) {
    .productosGrid {
        grid-template-columns: repeat(12, 1fr);
        width: 95%;
    }


    .producto1 {
        grid-column: 1/4;
    }

    .producto2 {
        grid-column: 4/9;
    }

    .producto3 {
        grid-column: 9/13;
    }

    .producto4 {
        grid-column: 1/6;
    }

    .producto5 {
        grid-column: 6/9;
    }

    .producto6 {
        grid-column: 9/13;
    }

    .producto7 {
        grid-column: 1/4;
    }

    .producto8 {
        grid-column: 4/8;
    }

    .producto9 {
        grid-column: 8/13;
    }


    .productosInfo h2 {
        font-size: var(--fontSizeH2);
    }

    .productosInfo p {
        font-size: var(--fuenteParrafoLong);
    }


}

/** seccion2 **/
.seccion2 {
    max-height: 50rem;
    min-height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--widthPhone);
    max-width: 120rem;
    margin: 0 auto;
    text-align: center;
}



.seccion2 h2 {
    font-size: var(--fontSizeH3);
    color: var(--blanco);
}

.seccion2 p {
    color: var(--grisClaro);
    font-size: var(--fuenteParrafo);
    padding-top: 2rem;
    padding-bottom: 3rem;
}

@media (min-width: 992px) {
    .seccion2 h2 {
        font-size: var(--fontSizeH2);
    }

    .seccion2 p {
        font-size: var(--fuenteParrafoLong);
    }
}

/** sobreNosotros **/

.sobreNosotrosContainer {
    width: 100%;
    min-height: 40rem;
    background-color: var(--grisClaro);
    padding-top: 6rem;
    padding-bottom: 6rem;

}

.grid {
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    text-align: center;
}

.nosotrosInfo h2 {
    font-size: var(--fontSizeH3);
}

.nosotrosInfo p {
    font-size: var(--fuenteParrafo);
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.nosotrosImagen {
    max-width: 55rem;
    align-items: center;
    margin: 0 auto;
    border-radius: 1rem;
    overflow: hidden;
}

.imagenContainer {
    margin: 0 auto;
}

.imagenContainer img {
    width: 100%;
    height: 100%;
    max-height: 35rem;
    object-fit: cover;

}


@media (min-width: 992px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .nosotrosInfo h2 {
        font-size: var(--fontSizeH2);
    }

    .nosotrosInfo p {
        font-size: var(--fuenteParrafoLong);
    }
}

@media (min-width: 1280px) {
    .grid {
        width: 100%;
    }
}


/** seccion3 **/

.seccion3 {
    height: 60rem;
    background-color: var(--colorPrimario);
}

.contenedor {
    width: 95%;
    height: 100%;
    max-width: 120rem;
    margin: 0 auto;
}

.informacion {
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
    width: 100%;
    height: 100%;
}

.informacionTitulo {
    text-align: center;
    padding-bottom: 8rem;
}

.informacion h2 {
    color: var(--blanco);
    font-size: var(--fontSizeH3);
    position: relative;
    display: inline;
    padding-bottom: 2rem;
}

.informacion h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 30%;
    background-color: var(--colorLogo);
}

.itemsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-bottom: 6rem;
}

.items {
    color: var(--blanco);
    padding: 0 2rem 0rem 2rem;
}

.items h4 {
    font-size: var(--fontSizeH5);
    text-align: center;
}

.items p {
    font-size: var(--fuenteParrafo);
    color: var(--gris);
    text-align: center;
}


@media (min-width: 992px) {
    .seccion3 {
        height: 40rem;
    }

    .contenedor {
        width: 100%;
    }

    .informacionTitulo {
        padding-bottom: 4rem;
    }

    .informacion h2 {
        font-size: var(--fontSizeH2);
    }

    .itemsContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 0rem;
    }

    .items h4 {
        font-size: var(--fontSizeH4);
    }

    .items p {
        font-size: var(--fuenteParrafoLong);
    }
}



/* Top */
.contenedor-top-bg {
    background-color: var(--colorPrimario);
    color: var(--blanco);
    padding: 1.5rem;
    font-size: 1.3rem;



}

@media (max-width: 768px) {
    .contenedor-top-bg {
        display: none;
    }
}

.contenedor-top {
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.contenedor-info {
    display: flex;
    justify-content: flex-start;
    width: 60%;
}

@media (max-width: 992px) {
    .contenedor-info {
        flex-direction: column;
    }
}

.info {
    display: flex;
    align-items: center;
    width: 100%;
    align-self: flex-start;
}

.info-svg {
    max-width: 1.8rem;
}

.info-span {
    width: auto;
    flex-wrap: nowrap;
    padding-left: 1rem;
    white-space: nowrap
}

.icono-top {
    padding: 1rem;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.icono-top:hover {
    background-color: var(--colorLogoHover);
    transition: all 0.3s ease-in-out;
}

.enlace-svg {
    color: var(--blanco);
    max-width: 24px;
}



/* Navegacion */


.container-fluid {
    max-width: 120rem;
}

.navegacion {
    padding: 1rem 0 1rem 1rem;
    transition: all 0.3s ease;
    font-size: 1.8rem;
}

@media (max-width: 991px) {
    .navegacion {
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;

    }
}


@media (min-width:992px) {
    .navegacion {
        padding: 2.5rem 0rem 2.5rem 0rem;
    }

    .navegacion.scrolled {
        padding: 2rem 0rem 2rem 0rem;
    }

}

.navegacion.scrolled {
    background-color: var(--colorPrimario) !important;
    transition: all 0.3s ease;
}

.navbar-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navegacion-titulo {
    color: var(--gris);
}

.navegacion-titulo.blanco {
    color: var(--blanco);
}

.nav-link {
    margin-left: 3rem !important;
    font-weight: 600;
    position: relative;
    align-self: flex-start;
    /* Evita que se expanda completamente */
    width: auto;
}

.nav-link.selected {
    color: var(--colorLogo) !important;
}

.nav-link.scroll {
    color: var(--blanco);
    transition: all 0.3s ease;
}

.nav-link.scroll:hover {
    color: var(--colorLogo);
    transition: all 0.3s ease;
}

@media (min-width: 481px) {
    .navlinkEdit::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0rem;
        height: 2px;
        width: 0;
        background-color: var(--colorLogo);
        transition: width 0.3s ease;
    }

    .navlinkEdit:hover::after {
        width: 100%;
    }

}

.imagenLogo {
    width: 32px;
    height: 40px;
}


@media (max-width: 480px) {
    .container-fluid {
        position: relative;
    }

    .navegacion {
        background-image: url('../../public/imagenes/navFondo.jpg');
        background-size: 100% 6.6rem;
        background-repeat: no-repeat;
    }

    .navbar-toggler {
        background-color: var(--blanco);
        opacity: 70%;
    }

    .navegacion-enlaces {
        margin-top: 1rem;
    }

    .navegacion-titulo {
        display: none;
    }

    .nav-link {
        width: auto;
        text-align: center;
        padding-left: 0 !important;
        margin-left: 0 !important;
    }

    .navlinkEdit {
        width: 100%;
    }


    .navbar-toggler {
        position: absolute;
        right: 1rem;
        top: 1rem;
    }

    .navbar-brand {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
    }


}


/* Carrousel */

@keyframes imagenDown {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-10%);
    }
}

@keyframes imagenUp {
    from {
        transform: translateY(-10%);
    }

    to {
        transform: translateY(0%);
    }
}


.animate-move-down {
    animation: imagenDown 5s ease-in-out;
}

.animate-move-up {
    animation: imagenUp 5s ease-in-out;
}



.carouselPincipal .carousel-inner {
    max-height: 60rem;
    min-height: 60rem;
    overflow: hidden;
    position: relative;
}

.carouselPincipal .carousel-inner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Asegura que el pseudo-elemento tenga la misma altura que el elemento principal */
    z-index: 1;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}


.carouselPincipal .carousel-item {
    position: relative;
}


.carouselPincipal .carrousel-imagen {
    min-height: 75rem;
    max-height: 75rem;
    object-fit: cover;
}

/* Carousel info  */
.info-container {
    position: absolute;
    z-index: 998;
    margin-top: 20rem;
    left: 5%;
    right: 5%;
}

.info-titulo {
    font-size: var(--fontSizeH3);
    color: var(--blanco);
    font-weight: 600;
}

.info-descripcion {
    color: var(--blanco);
    margin-bottom: 4rem;
    font-size: var(--fuenteParrafo);
}


@media (min-width: 768px) {
    .info-container {
        right: 10%;
        left: 10%;
        margin-top: 22rem;
    }

}

@media (min-width: 992px) {
    .info-titulo {
        font-size: var(--fontSizeH1);
    }

    .info-descripcion {
        font-size: var(--fuenteParrafoLong);
    }

}

@media (min-width: 1280px) {

    .info-container {
        right: 25%;
        left: 25%;
        margin-top: 20rem;
    }
}

/* Footer */

.footerContenedor {
    min-height: 20rem;
    width: 100%;
    background-color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0;
    padding-top: 4rem;
    font-size: var(--fuenteParrafo);
}

.derechos {
    background-color: var(--gris);
    padding: 2rem;
    width: 100%;
    margin-top: 4rem;
    text-align: center;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
}

.footerContacto {
    width: 50%;
}

.footerItems {
    display: flex;
    min-width: 25rem;
    padding-top: 1rem;
}

.footerLogo {
    max-width: 10rem;
    width: 50%;
    margin: 0 auto;
}

.footerLogo img {
    max-width: 100%;
}

.svgFooter {
    max-width: 3rem;
    margin-right: 1rem;
}

.footerRedes {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.icono-footer {
    padding: 1rem;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    max-width: 4rem;
}

.icono-footer:hover {
    background-color: var(--colorLogoHover);
    transition: all 0.3s ease-in-out;
}

.enlace-svgFooter {
    color: var(--negro);
    width: 4rem;
    height: 4rem;
}


@media (max-width: 480px) {
    .footer {
        flex-direction: column;
    }

    .footerContacto {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footerItems {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .footerLogo {
        width: 100%;
    }
}


@media (min-width: 992px) {
    .footerContenedor {
        font-size: var(--fuenteParrafoLong);
    }
}



/* Colaboradores Ruta */
.colaboradoresBody {
    background-color: var(--grisBody);
}

.colaboradoresHeader {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../public/imagenes/colaboradores/colaboradoresHeader.jpg');
    width: 100%;
    height: 35rem;
    margin-bottom: 6rem;
    margin-top: 0;
    padding-bottom: 4rem;
    padding-top: 4rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
}

.presetacion {
    margin-top: 6rem;
    margin-bottom: 6rem;
    text-align: center;
}

.presetacion h1 {
    font-size: var(--fontSizeH2);
    position: relative;
    color: var(--blanco);
}

.presetacion h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 10%;
    background-color: var(--colorLogo);
}

.presetacion p {
    font-size: var(--fuenteParrafoLong);
    color: var(--grisClaro);
}

.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 6rem;
    /* Espacio entre los elementos hijos */
}

.card {
    padding-bottom: 1.5rem;
    transition: all 0.3s ease-in-out;
    width: 37rem !important;
    border: none;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.30);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.30);
}

.card:hover {
    transition: all 0.3s ease-in-out;
    transform: translateY(-0.5rem);
    -webkit-box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.60);
    -moz-box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.60);
    box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.60);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-size: var(--fontSizeH4);
}

.card-Subtitle {
    font-size: var(--fontSizeH5);
}

.card-text {
    font-size: var(--fuenteParrafo);
    margin-bottom: 2rem;
}


@media (max-width: 768px) {
    .presetacion {
        margin-top: 10rem;
        margin-bottom: 6rem;
        text-align: center;
    }

    .presetacion p {
        font-size: var(--fuenteParrafo);
    }


    .colaboradoresHeader {
        margin-bottom: 6rem;
        margin-top: 0;
        padding-bottom: 6rem;
        padding-top: 4rem;
    }
}

@media (max-width: 480px) {
    .presetacion {
        margin-top: 5rem;
        margin-bottom: 6rem;
        text-align: center;
    }

    .presetacion h1 {
        font-size: var(--fontSizeH3);
        position: relative;
    }

    .presetacion h1::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
        width: 20%;
        background-color: var(--colorLogo);
    }

}

/* Colaborador Ruta */

.colaboradorHeader {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../public/imagenes/colaboradores/colaborador1/ejemplo2.jpg');
    width: 100%;
    height: 25rem;
    margin-bottom: 6rem;
    margin-top: 0;
    padding-bottom: 4rem;
    padding-top: 4rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colaboradorHeader h1 {
    font-size: var(--fontSizeH2);
    text-align: center;
    margin-bottom: 3rem;
    color: var(--blanco);
}

.obras {
    margin-top: 6rem;
}

.obra {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

.obraImagenes {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    width: 100%;
}

.obraInfo h2 {
    font-size: var(--fontSizeH3);
    margin-bottom: 2rem;
}

.obraInfo p {
    font-size: var(--fuenteParrafoLong);
}

.antes {
    width: 50%;
    height: 40rem;
}

.despues {
    width: 50%;
    height: 40rem;
}

.carrouselComparacionFijo {
    width: 50%;
}

.fijo {
    width: 100%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fijo h3 {
    font-size: var(--fontSizeH4);
}

.antes h3 {
    font-size: var(--fontSizeH4);
}

.despues h3 {
    font-size: var(--fontSizeH4);
}


@media (max-width: 768px) {

    .colaboradorHeader {
        margin-top: 4rem;
        padding-bottom: 7rem;
        padding-top: 14rem;
    }


    .colaboradorHeader h1 {
        font-size: var(--fontSizeH3);
    }

    .obras {
        margin-top: 6rem;
    }

    .obras h1 {
        font-size: var(--fontSizeH3);
        text-align: center;
        margin-bottom: 3rem;
    }

    .obra {
        margin-top: 3rem;
        margin-bottom: 3rem;
        text-align: center;
    }

    .obraImagenes {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 4rem;
        width: 100%;
    }

    .obraInfo h2 {
        font-size: var(--fontSizeH4);
    }

    .obraInfo p {
        font-size: var(--fuenteParrafo);
    }


    .antes h3 {
        font-size: var(--fontSizeH5);
    }

    .despues h3 {
        font-size: var(--fontSizeH5);
    }

    .antes {
        width: 100%;
        height: 23rem;
    }

    .despues {
        width: 100%;
        height: 23rem;
    }

    .carrouselComparacionFijo {
        width: 100%;
    }

    .fijo {
        width: 100%;
        height: 23rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fijo h3 {
        font-size: var(--fontSizeH4);
    }

}