@import 'bootstrap';


/* Reglas Generales: los headers de url (los principales)son de 35rem de altura, los secundarios con imagenes son de 25rem y los sin imagen son de 20  */

/* Generales */
:root {
    --colorBody: #F2F3F5;
    --blanco: #fff;
    --negro: #000;
    --gris: #808080;
    --grisClaro: #d4d4d4;
    --grisOscuro: #4b4b4b;
    --colorPrimario: #FF311A;
    --colorPrimarioHover: #F06151;
    --colorSecundario: #030712;
    --colorSecundario2: #1A1C20;
    --cremita: #9B6D68;
    --cremitaOscuro: #70605E;
    --marronClaro: #463937;
    --marron: #332220;

    --fuentePrincipal: "Poppins", sans-serif;
    --fontSizeH1: 4.5rem;
    --fontSizeH2: 4rem;
    --fontSizeH3: 3rem;
    --fontSizeH4: 2.6rem;
    --fontSizeH5: 2rem;
    --fuenteParrafoLong: 2rem;
    --fuenteParrafo: 1.5rem;
    --fuenteParrafoMini: 1.3rem;
    --widthPhone: 95%;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    background-color: var(--blanco) !important;
}

li,
a {
    border: none;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.boton {
    cursor: pointer;
    color: var(--blanco);
    font-size: 1.4rem;
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
}

.botonMini {
    cursor: pointer;
    color: var(--blanco);
    font-size: 1.2rem;
    padding: 1rem 1.8rem 1rem 1.8rem;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
}


.btn {
    background-color: var(--colorPrimario);
    color: var(--blanco);
}

.btn:hover {
    background-color: var(--colorPrimarioHover);
    color: var(--blanco);
}

.btnBorder {
    border: 1px solid var(--blanco);
}

.btnBorder:hover {
    border: 1px solid var(--colorPrimario);
    background-color: var(--colorPrimario);
}



@media (min-width: 480px) {}

@media (min-width: 992px) {
    .boton {
        font-size: 1.7rem;
    }
}

.separador {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.separadorImagen {
    max-width: 3rem;
}

.hrwidth {
    width: calc(55% - 50px);
}

@media (min-width: 480px) {
    .hrwidth {
        width: calc(55% - 100px);
    }
}



/* Botones en Obras  */

.botonElegante {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--blanco);
    opacity: 10%;
}

.boton-elegante {
    padding: .5rem;
    border: 2px solid #46464696;
    background-color: #000000c4;
    color: #ffffff;
    font-size: 4rem;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: bold;
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    z-index: 998;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.boton-elegante::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle,
            rgba(99, 99, 99, 0.644) 0%,
            rgba(255, 255, 255, 0) 70%);
    transform: scale(0);
    transition: transform 0.5s ease;
}

.boton-elegante:hover::after {
    transform: scale(4);
}

.boton-elegante:hover {
    border-color: #575757;
    background: #242424;
}

.botonEleganteOculto {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.botonEleganteVisible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* Inicio Ruta */

.contenedor-imagenFija {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../public/imagenes/imagenFondoFijo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    background-repeat: no-repeat;
}


/** seccion1  **/

.seccion1Fondo {
    background-color: var(--blanco);
    width: 100%;
}

.seccion1 {
    width: var(--widthPhone);
    max-width: 120rem;
    margin: 0 auto;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seccion1-info h2 {
    font-size: var(--fontSizeH3);
    color: var(--colorSecundario);
    text-align: center;
}

.seccion1-info p {
    color: var(--gris);
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-size: var(--fuenteParrafo);
    text-align: center;
}

@media (min-width: 992px) {
    .seccion1 {
        width: 100%
    }

    .seccion1-info h2 {
        font-size: var(--fontSizeH2);
    }

    .seccion1-info p {
        font-size: var(--fuenteParrafoLong);
    }
}


/** seccionProductos **/

.seccionProductos {
    background-color: var(--grisClaro);
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.productosContenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.productosGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    width: var(--widthPhone);
    margin: 0 auto;
}

.productosInfo h2 {
    color: var(--negro);
    font-size: var(--fontSizeH3);
    text-align: center;
}

.productosInfo p {
    color: var(--marron);
    font-size: var(--fuenteParrafo);
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.productos {
    position: relative;
    width: 100%;
    max-height: 20rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 1rem;
}

.productos::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    opacity: 100%;
    transition: opacity 0.3s ease;
}

.productos:hover::after {
    opacity: 80%;
}




.productosTitulo {
    position: absolute;
    z-index: 998;
    color: var(--blanco);
    font-size: var(--fuenteParrafoLong);
}

.imagenProductos {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    object-fit: cover;
}

.productos:hover .imagenProductos {
    transform: scale(1.1);
}

@media (min-width: 768px) {
    .productosGrid {
        grid-template-columns: repeat(12, 1fr);
        width: 95%;
    }


    .producto1 {
        grid-column: 1/8;
    }

    .producto2 {
        grid-column: 8/13;
    }

    .producto3 {
        grid-column: 1/9;
    }

    .producto4 {
        grid-column: 9/13;
    }

    .producto5 {
        grid-column: 1/6;
    }

    .producto6 {
        grid-column: 6/13;
    }

    .producto7 {
        grid-column: 1/7;
    }

    .producto8 {
        grid-column: 7/13;
    }

    .producto9 {
        grid-column: 1/9;
    }


}

@media (min-width: 992px) {
    .productosGrid {
        grid-template-columns: repeat(12, 1fr);
        width: 95%;
    }


    .producto1 {
        grid-column: 1/4;
    }

    .producto2 {
        grid-column: 4/9;
    }

    .producto3 {
        grid-column: 9/13;
    }

    .producto4 {
        grid-column: 1/6;
    }

    .producto5 {
        grid-column: 6/9;
    }

    .producto6 {
        grid-column: 9/13;
    }

    .producto7 {
        grid-column: 1/4;
    }

    .producto8 {
        grid-column: 4/8;
    }

    .producto9 {
        grid-column: 8/13;
    }


    .productosInfo h2 {
        font-size: var(--fontSizeH2);
    }

    .productosInfo p {
        font-size: var(--fuenteParrafoLong);
    }


}

/** seccion2 **/
.seccion2 {
    max-height: 50rem;
    min-height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--widthPhone);
    max-width: 120rem;
    margin: 0 auto;
    text-align: center;
}



.seccion2 h2 {
    font-size: var(--fontSizeH3);
    color: var(--blanco);
}

.seccion2 p {
    color: var(--colorBody);
    font-size: var(--fuenteParrafo);
    padding-top: 2rem;
    padding-bottom: 3rem;
}

@media (min-width: 992px) {
    .seccion2 h2 {
        font-size: var(--fontSizeH2);
    }

    .seccion2 p {
        font-size: var(--fuenteParrafoLong);
    }
}

/** sobreNosotros **/

.sobreNosotrosContainer {
    width: 100%;
    min-height: 40rem;
    background-color: var(--cremitaOscuro);
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.grid {
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    text-align: center;
}

.nosotrosInfo h2 {
    font-size: var(--fontSizeH3);
    color: var(--blanco);
}

.nosotrosParrafo {
    font-size: var(--fuenteParrafo);
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: var(--grisClaro);
    max-height: 24rem;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.parrafoHeight {
    max-height: 50rem !important;
    transition: all 0.3s ease-in-out;
}

.nosotrosImagen {
    max-width: 55rem;
    align-items: center;
    margin: 0 auto;
    border-radius: 1rem;
    overflow: hidden;
}

.imagenContainer {
    margin: 2rem 0 0 0;
    border-radius: 1rem;
}

.imagenContainer img {
    width: 100%;
    height: 100%;
    max-height: 35rem;
    object-fit: cover;
    border-radius: 1rem;
}

.nosotrosTextoExtra {
    transition: opacity .5s ease, visibility 0.5s ease;
}

.nosotrosTextoExtraOculto {
    visibility: hidden;
    opacity: 0;
}

.nosotrosTextoExtraVisible {
    visibility: visible;
    opacity: 1;
}

@media (min-width: 300px) {
    .nosotrosParrafo {
        max-height: 27rem;
    }

}

@media (min-width: 400px) {
    .nosotrosParrafo {
        max-height: 20rem;
    }

}

@media (min-width: 480px) {
    .nosotrosParrafo {
        max-height: 17.5rem;
    }

}

@media (min-width: 768px) {
    .nosotrosParrafo {
        max-height: 12rem;
    }

}

@media (min-width: 992px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .imagenContainer {
        margin: 0 auto;
    }

    .nosotrosParrafo {
        max-height: 30rem;
    }


    .nosotrosInfo h2 {
        font-size: var(--fontSizeH2);
    }

    .nosotrosInfo p {
        font-size: var(--fuenteParrafoLong);
    }
}

@media (min-width: 1280px) {
    .grid {
        width: 100%;
    }

    .nosotrosParrafo {
        max-height: 24.5rem;
    }

}


/** seccion3 **/

.seccion3 {
    height: 60rem;
    background-color: var(--blanco);
}

.contenedor {
    width: 95%;
    height: 100%;
    max-width: 120rem;
    margin: 0 auto;
}

.informacion {
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
    width: 100%;
    height: 100%;
}

.informacionTitulo {
    text-align: center;
    padding-bottom: 8rem;
}

.informacion h2 {
    color: var(--negro);
    font-size: var(--fontSizeH3);
    position: relative;
    display: inline;
    padding-bottom: 2rem;
}

.informacion h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 30%;
    background-color: var(--colorPrimario);
}

.itemsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-bottom: 6rem;
}

.items {
    color: var(--blanco);
    padding: 0 2rem 0rem 2rem;
}

.items h4 {
    color: var(--colorSecundario);
    font-size: var(--fontSizeH5);
    text-align: center;
}

.items p {
    font-size: var(--fuenteParrafo);
    color: var(--gris);
    text-align: center;
}


@media (min-width: 992px) {
    .seccion3 {
        height: 40rem;
    }

    .contenedor {
        width: 100%;
    }

    .informacionTitulo {
        padding-bottom: 4rem;
    }

    .informacion h2 {
        font-size: var(--fontSizeH2);
    }

    .itemsContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 0rem;
    }

    .items h4 {
        font-size: var(--fontSizeH4);
    }

    .items p {
        font-size: var(--fuenteParrafoLong);
    }
}



/* Top */
.contenedor-top-bg {
    background-color: var(--colorSecundario);
    color: var(--blanco);
    padding: 1rem;
    font-size: 1.3rem;
}

@media (max-width: 768px) {
    .contenedor-top-bg {
        overflow: hidden;
        padding: 0;
    }
}

.contenedor-top {
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.contenedor-info {
    display: flex;
    justify-content: flex-start;
    width: 60%;
}

@media (max-width: 992px) {
    .contenedor-info {
        flex-direction: column;
    }
}

.info {
    display: flex;
    align-items: center;
    width: 100%;
    align-self: flex-start;
}

.info-svg {
    max-width: 1.8rem;
}

.info-span {
    width: auto;
    flex-wrap: nowrap;
    padding-left: 1rem;
    white-space: nowrap
}

/* Navegacion */

.container-fluid {
    max-width: 120rem;
}

.navegacion {
    padding: 1rem 0 1rem 0rem;
    transition: all 0.3s ease;
    font-size: 1.8rem;
}

@media (max-width: 991px) {
    .navegacion {
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;

    }
}


@media (min-width:992px) {
    .navegacion {
        padding: 2.5rem 0rem 2.5rem 0rem;
    }

    .navegacion.scrolled {
        padding: 2rem 0rem 2rem 0rem;
    }

}

.navegacion.scrolled {
    background-color: var(--colorSecundario) !important;
    transition: all 0.3s ease;
}

.navbar-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.enlanceAInicio {
    text-align: center;
}

.navegacion-titulo {
    color: var(--gris);
}

.navegacion-titulo.blanco {
    color: var(--blanco);
}

.nav-link {
    margin-left: 3rem !important;
    font-weight: 600;
    position: relative;
    align-self: flex-start;
    width: auto;
}

.nav-link.selected {
    color: var(--colorPrimario) !important;
}

.nav-link.scroll {
    color: var(--blanco);
    transition: all 0.3s ease;
}

.nav-link.scroll:hover {
    color: var(--colorPrimario);
    transition: all 0.3s ease;
}

@media (min-width: 481px) {
    .navlinkEdit::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0rem;
        height: 2px;
        width: 0;
        background-color: var(--colorPrimario);
        transition: width 0.3s ease;
    }

    .navlinkEdit:hover::after {
        width: 100%;
    }

}

.imagenLogo {
    width: 32px;
    height: 40px;
}


@media (max-width: 480px) {
    .container-fluid {
        position: relative;
    }

    .navegacion {
        background-image: url('../../public/imagenes/navFondo.jpg');
        background-size: 100% 6.6rem;
        background-repeat: no-repeat;
    }

    .navbar-toggler {
        background-color: var(--blanco);
        opacity: 70%;
    }

    .navegacion-enlaces {
        margin-top: 1rem;
    }

    .navegacion-titulo {
        display: none;
    }

    .nav-link {
        width: auto;
        text-align: center;
        padding-left: 0 !important;
        margin-left: 0 !important;
    }

    .navlinkEdit {
        width: 100%;
    }


    .navbar-toggler {
        position: absolute;
        right: 1rem;
        top: 1rem;
    }

    .navbar-brand {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
    }


}


/* Carrousel */

@keyframes imagenDown {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-10%);
    }
}

@keyframes imagenUp {
    from {
        transform: translateY(-10%);
    }

    to {
        transform: translateY(0%);
    }
}


.animate-move-down {
    animation: imagenDown 5s ease-in-out;
}

.animate-move-up {
    animation: imagenUp 5s ease-in-out;
}



.carouselPincipal .carousel-inner {
    max-height: 60rem;
    min-height: 60rem;
    overflow: hidden;
    position: relative;
}

.carouselPincipal .carousel-inner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}


.carouselPincipal .carousel-item {
    position: relative;
}


.carouselPincipal .carrousel-imagen {
    min-height: 75rem;
    max-height: 75rem;
    object-fit: cover;
}

/* Carousel info  */
.info-container {
    position: absolute;
    z-index: 998;
    margin-top: 15rem;
    left: 5%;
    right: 5%;
}

.info-titulo {
    font-size: var(--fontSizeH3);
    color: var(--blanco);
    font-weight: 600;
}

.info-descripcion {
    color: var(--blanco);
    margin-bottom: 4rem;
    font-size: var(--fuenteParrafo);
}


@media (min-width: 768px) {
    .info-container {
        right: 10%;
        left: 10%;
        margin-top: 22rem;
    }

}

@media (min-width: 992px) {
    .info-titulo {
        font-size: var(--fontSizeH1);
    }

    .info-descripcion {
        font-size: var(--fuenteParrafoLong);
    }

}

@media (min-width: 1280px) {

    .info-container {
        right: 25%;
        left: 25%;
        margin-top: 20rem;
    }
}

/* Footer */

.footerContenedor {
    background-color: var(--colorSecundario);
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.footerGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 3rem;
    width: var(--widthPhone);
}

.logoContenedor img {
    width: 5rem;
}

.footerContactoSvg {
    transition: all .3s ease-in-out;
    padding: 1rem;
    border-radius: 50%;
}

.footerContactoSvg:hover {
    background-color: var(--colorPrimario);
}

.footerSvg {
    width: 24px !important;
    height: 24px !important;
    color: var(--blanco) !important;
}

.footerTitulo {
    color: var(--blanco);
    font-size: var(--fontSizeH5);
    text-align: center;
}

.footerParrafos {
    color: var(--blanco);
    font-size: var(--fuenteParrafo);
}

.enlaceFooter {
    color: var(--blanco);
    font-size: var(--fuenteParrafo);
    transition: all 0.3s ease-in-out;
}

.enlaceFooter:hover {
    color: var(--colorPrimario);
    transition: all 0.3s ease-in-out;
}

.logoContenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.ubicacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding-top: 0rem;
}

.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding-top: 0rem;
}

.seguinos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding-top: 0rem;
}

.seguinosIconos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.propiedad {
    margin-top: 4rem;
    width: var(--widthPhone);
    margin: 0 auto;
}

.propiedad p {
    color: var(--blanco);
    font-size: var(--fuenteParrafo);
    text-align: center;
}


.cardFooter {
    width: fit-content;
    height: fit-content;
    background-color: var(--colorSecundario);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/* for all social containers*/
.socialContainer {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
}

/* whatsapp*/
.containerCero:hover {
    background-color: #11C146;
    transition-duration: .3s;
}

/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
}

/* Youtube*/
.containerTwo:hover {
    background-color: #FF0000;
    transition-duration: .3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}

.socialSvg {
    width: 24px;
    color: var(--blanco) !important;
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

.instagramSvg {
    width: 28px;
    height: 28px;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@media (min-width: 768px) {
    .footerTitulo {
        color: var(--blanco);
        font-size: var(--fontSizeH4);
    }


    .footerContenedor {
        background-color: var(--colorSecundario);
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .footerGrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: 160rem;
        margin: 0 auto;
    }

    .ubicacion {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 1rem;
        padding-top: 4rem;
    }

    .contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 1rem;
        padding-top: 4rem;
    }

    .seguinos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 1rem;
        padding-top: 4rem;
    }

    .propiedad {
        margin-top: 4rem;
        width: 100%;
    }

}

/* Colaboradores Ruta */
.colaboradoresBody {
    background-color: var(--colorBody);
}

.colaboradoresHeader {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url('../../public/imagenes/colaboradores/colaboradoresHeader.jpg');
    width: 100%;
    height: 35rem;
    margin-bottom: 6rem;
    margin-top: 0;
    padding-bottom: 4rem;
    padding-top: 4rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
}

.presetacion {
    margin-top: 6rem;
    margin-bottom: 6rem;
    text-align: center;
}

.presetacion h1 {
    font-size: var(--fontSizeH2);
    position: relative;
    color: var(--blanco);
}

.presetacion h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 10%;
    background-color: var(--Boton);
}

.presetacion p {
    font-size: var(--fuenteParrafoLong);
    color: var(--grisClaro);
}


/** Cards estilos generales **/
.cardGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 100%;
    padding-bottom: 6rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 37rem;
    height: 45rem;
    padding: 1.5rem;
    border-radius: 1rem;
    -webkit-box-shadow: 10px 10px 53px -29px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 53px -29px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 53px -29px rgba(0, 0, 0, 0.75);
    margin: 0 auto;
}

.cardHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

.imagenCard {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 1px solid var(--gris);
    object-fit: cover;
}


.cardTitle {
    font-size: var(--fontSizeH4);
}

.cardSubtitle {
    font-size: var(--fontSizeH5);
    color: var(--negro);
    background-color: var(--gris);
    text-align: center;
    display: inline-block;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1rem;
}

.cardText {
    background-color: var(--colorBody);
    border-radius: 1rem;
    color: var(--grisOscuro);
    font-size: var(--fuenteParrafo);
    padding: 1rem;
    margin-bottom: 2rem;
}



@media (max-width:1280px) {
    .cardGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

}

@media (max-width: 768px) {


    .presetacion {
        margin-top: 8rem;
        text-align: center;
    }

    .presetacion p {
        font-size: var(--fuenteParrafo);
    }


    .colaboradoresHeader {
        margin-bottom: 6rem;
        margin-top: 0;
        padding-bottom: 6rem;
        padding-top: 4rem;
    }

    .cardGrid {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    .card {
        width: 100%;
        padding-top: 4rem;
    }
}

@media (max-width: 479px) {


    .presetacion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 2.5rem;
        margin-bottom: 0;
    }

    .presetacion h1 {
        font-size: var(--fontSizeH2);
        position: relative;
    }

    .presetacion h1::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
        width: 20%;
        background-color: var(--Boton);
    }


}

/* Colaborador Ruta */

.colaboradorHeader {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../public/imagenes/colaboradores/colaborador1/ejemplo2.jpg');
    width: 100%;
    height: 25rem;
    margin-top: 0;
    padding-top: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colaboradorHeader h1 {
    font-size: var(--fontSizeH2);
    text-align: center;
    margin-bottom: 3rem;
    color: var(--blanco);
}

.obras {
    margin-top: 6rem;
}

.obra {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

.obraImagenes {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    width: 100%;
}

.obraInfo h2 {
    font-size: var(--fontSizeH3);
    margin-bottom: 2rem;
}

.obraInfo p {
    font-size: var(--fuenteParrafoLong);
}

.antes {
    width: 50%;
    height: 40rem;
}

.despues {
    width: 50%;
    height: 40rem;
}

.carrouselComparacionFijo {
    width: 50%;
}

.fijo {
    width: 100%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fijo h3 {
    font-size: var(--fontSizeH4);
}

.antes h3 {
    font-size: var(--fontSizeH4);
}

.despues h3 {
    font-size: var(--fontSizeH4);
}


@media (max-width: 768px) {

    .colaboradorHeader {
        margin-top: 3rem;
        padding-bottom: 7rem;
        padding-top: 12rem;
    }


    .colaboradorHeader h1 {
        font-size: var(--fontSizeH3);
    }

    .obras {
        margin-top: 6rem;
    }

    .obras h1 {
        font-size: var(--fontSizeH3);
        text-align: center;
        margin-bottom: 3rem;
    }

    .obra {
        margin-top: 3rem;
        margin-bottom: 3rem;
        text-align: center;
    }

    .obraImagenes {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 4rem;
        width: 100%;
    }

    .obraInfo h2 {
        font-size: var(--fontSizeH4);
    }

    .obraInfo p {
        font-size: var(--fuenteParrafo);
    }


    .antes h3 {
        font-size: var(--fontSizeH5);
    }

    .despues h3 {
        font-size: var(--fontSizeH5);
    }

    .antes {
        width: 100%;
        height: 23rem;
    }

    .despues {
        width: 100%;
        height: 23rem;
    }

    .carrouselComparacionFijo {
        width: 100%;
    }

    .fijo {
        width: 100%;
        height: 23rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fijo h3 {
        font-size: var(--fontSizeH4);
    }

}

@media (max-width: 480px) {
    .colaboradorHeader {
        margin-top: 0rem;
        padding-bottom: 7rem;
        padding-top: 12rem;
    }

}

/* Apartado de obras */
.trabajosHeader {
    width: 100%;
    height: 25rem;
    margin-bottom: 6rem;
    margin-top: 0;
    padding-bottom: 4rem;
    padding-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bañoHeader {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../public/imagenes/trabajos/baño.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.cocinaHeader {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../public/imagenes/trabajos/cocina.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.comedorHeader {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../public/imagenes/trabajos/comedor.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.dormitorioHeader {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../public/imagenes/trabajos/dormitorio.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.espaciosHeader {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../public/imagenes/trabajos/multifuncional.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.exteriorHeader {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../public/imagenes/trabajos/exterior.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.oficinaHeader {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../public/imagenes/trabajos/estudio.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.personalizadosHeader {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../public/imagenes/trabajos/perzonalizado.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.salaDeEstarHeader {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../public/imagenes/trabajos/salaDeEstar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}



.trabajosGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-bottom: 6rem;
}

.trabajo {
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--grisClaro);
}

.trabajoInfo {
    border: 1px solid var(--grisClaro);
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

.trabajoImagen {
    width: 100%;
    height: 20rem;
    border-radius: 1rem 1rem 0rem 0rem;
    margin-bottom: 2rem;
    transition: all 0.3s ease-in-out;
}

.trabajoImagen:hover {
    transition: all 0.3s ease-in-out;

}

.trabajoName {
    font-size: var(--fontSizeH5);
    color: var(--negro);
    text-align: center;
    margin-bottom: 1rem;
}

@media (min-width: 480px) {
    .trabajosHeader {
        padding-top: 4rem;
    }
}

@media (min-width: 768px) {
    .trabajosGrid {
        grid-template-columns: repeat(2, 1fr);
    }


}

@media (min-width: 992px) {
    .trabajosGrid {
        grid-template-columns: repeat(3, 1fr);
    }

}


/* Apartado de obra */
.headerObra {
    height: 20rem;
    background-color: var(--gris);
    padding-top: 2rem;
}

.presetacionObras {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--blanco);
}

.presetacionObras h1 {
    font-size: var(--fontSizeH4);
    margin: 0;
}

.obraWish {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 70rem;
    height: auto;
    margin-top: 6rem;
    margin-bottom: 6rem;
    padding: 2rem;
    border: 1px solid var(--grisClaro);
    gap: 2rem;
}

.carrouselObraWhis {
    width: 100%;
    height: 100%;
    min-height: 40rem;
}

.carrouselInnerObraWish {
    width: 100%;
    height: 100%;
}

.carrouselItemObraWish {
    width: 100%;
    height: 100%;
}

.carrouselItemObraWish img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    min-height: 40rem;
}

.informacionObraContenedor {
    height: 50%;
}

.informacionObraWish {
    width: 100%;
    height: auto;
    font-size: var(--fuenteParrafoMini);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 1rem;
    border-left: 1px solid var(--grisClaro);
    border-bottom: 1px solid var(--grisClaro);
}

.logoEnObra {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.descripcionObraWish {
    color: var(--negro);
    margin-bottom: .5rem;
}

.detallesObraWish {
    color: var(--grisOscuro);
    margin-bottom: .5rem;
}

.materialesObraWish {
    color: var(--marron);
}

.informacionVariable {
    background-color: var(--cremitaOscuro);
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 2rem;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.informacionVariable p {
    font-size: var(--fuenteParrafoMini);
    color: var(--grisClaro);
}

.informacionVariableOculto {
    opacity: 0;
    visibility: hidden;
}

.informacionVariableVisible {
    opacity: 1;
    visibility: visible;
}

@media (min-width: 768px) {
    .headerObra {
        height: 18rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .obraWish {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        width: 100%;
        height: 60rem;
        margin-top: 6rem;
        margin-bottom: 6rem;
        padding: 2rem;
        border: 1px solid var(--grisClaro);
        gap: 2rem;
    }

    .carrouselObraWhis {
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 992px) {
    .headerObra {
        height: 16rem;
        padding-top: 0.1rem;
    }

}


/* SECTION Blog General */

.blogHeader {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url('../../public/imagenes/blog/blogHeader.jpg');
    width: 100%;
    height: 35rem;
    margin-bottom: 6rem;
    margin-top: 0;
    padding-bottom: 4rem;
    padding-top: 4rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.blogHeaderInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}

.blogHeaderInfo h1 {
    color: var(--blanco);
    font-size: var(--fontSizeH3);
}

.blogHeaderInfo p {
    color: var(--blanco);
    font-size: var(--fuenteParrafo);
    text-align: center;
}


.blogGrid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 1.5rem;
    margin-bottom: 6rem;
}

.blog {
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}

.blog::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    opacity: 100%;
    transition: opacity 0.3s ease;
}

.blog img {
    width: 100%;
    height: 40rem;
    border-radius: 1rem;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.blog:hover img {
    transform: scale(1.05);
}

.blog1 {
    grid-column: 1/8;
}

.blog2 {
    grid-column: 8/13;
}

.blog3 {
    grid-column: 1/13;
}

.blog4 {
    grid-column: 1/6;
}

.blog5 {
    grid-column: 6/13;
}

.blog6 {
    grid-column: 1/8;
}

.infoBlog {
    position: absolute;
    z-index: 998;
    bottom: 4rem;
    left: 4rem;
    color: var(--blanco);
}

.infoBlog h3 {
    font-size: var(--fontSizeH4);
}

.infoBlog p {
    font-size: var(--fuenteParrafo);
}

@media (min-width: 768px) {
    .blogHeaderInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 9rem;
    }
}

@media (min-width: 992px) {
    .blogHeaderInfo {
        margin-top: 7rem;
    }

    .blogHeaderInfo h1 {
        color: var(--blanco);
        font-size: var(--fontSizeH2);
    }

    .blogHeaderInfo p {
        color: var(--blanco);
        font-size: var(--fuenteParrafoLong);
    }

}

/* !SECTION Blog General */


/* SECTION Blog1 Particular */
.blogsHeader {
    background-color: var(--grisClaro);
    width: 100%;
    height: 20rem;
    margin-bottom: 6rem;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blogsHeader h1 {
    font-size: var(--fontSizeH3);
    text-align: center;
}

.blog1Presentacion {
    -webkit-box-shadow: 10px 10px 53px -29px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 53px -29px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 53px -29px rgba(0, 0, 0, 0.75);
    background-color: var(--colorSecundario);
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
}

.blog1Presentacion h2 {
    font-size: var(--fuenteParrafo);
    color: var(--grisClaro);
}

.blog1secciones {
    margin: 4rem 0rem 4rem 0rem;
    -webkit-box-shadow: 10px 10px 53px -29px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 53px -29px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 53px -29px rgba(0, 0, 0, 0.75);
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--colorBody);
}

.blog1imagenes {
    width: 100%;
    max-width: 60rem;
    height: 100%;
    max-height: 35rem;
    object-fit: cover;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.blog1seccionesTituloContainer {
    margin-bottom: 2rem;
}

.blog1seccionesTitulo {
    color: var(--negro);
    font-size: var(--fontSizeH4);
    display: inline;
    position: relative;
}

.blog1seccionesTitulo::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0%;
    height: 2px;
    width: 100%;
    background-color: var(--colorPrimario);
}

.blog1seccionesTitulo span {
    color: var(--grisOscuro);
}

.blog1Descripcion p {
    font-size: var(--fuenteParrafo);
    color: var(--negro);
}

.blog1CaracteristicasContenedor {
    margin-top: 3rem;
}

.blog1CaracteristicasContenedor h3 {
    color: var(--negro);
    font-size: var(--fontSizeH5);
}

.blog1Caracteristicas {
    list-style-type: circle;
}

.blog1Caracteristicas li::marker {
    color: var(--colorPrimario);
}

.blog1CaracteristicasLi {
    font-size: var(--fuenteParrafo);
    margin-top: 1rem;
    color: var(--grisOscuro);
}

.blog1CaracteristicasLi span {
    color: var(--negro);
}



@media (min-width: 480px) {
    .blogsHeader {
        height: 20rem;
        margin-bottom: 6rem;
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .blogsHeader h1 {
        font-size: var(--fontSizeH3);

    }
}

@media (min-width: 768px) {
    .blogsHeader {
        height: 20rem;
        margin-bottom: 6rem;
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .blogsHeader h1 {
        font-size: var(--fontSizeH3);
    }

    .blog1Presentacion h2 {
        font-size: var(--fontSizeH5);
        color: var(--grisClaro);
    }

    .blog1secciones {
        margin: 4rem 0rem 4rem 0rem;
        -webkit-box-shadow: 10px 10px 53px -29px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 53px -29px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 53px -29px rgba(0, 0, 0, 0.75);
        padding: 4rem;
        border-radius: 1rem;
        background-color: var(--colorBody);
    }


    .blog1seccionesTitulo {
        color: var(--negro);
        font-size: var(--fontSizeH3);
        display: inline;
        position: relative;
    }

    .blog1Descripcion p {
        font-size: var(--fuenteParrafoLong);
        color: var(--negro);
    }


    .blog1CaracteristicasContenedor h3 {
        color: var(--negro);
        font-size: var(--fontSizeH4);
    }

    .blog1CaracteristicasLi {
        font-size: var(--fuenteParrafo);
        margin-top: 1rem;
        color: var(--grisOscuro);
    }
}

@media (min-width: 992px) {
    .blogsHeader {
        height: 20rem;
        margin-bottom: 6rem;
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .blogsHeader h1 {
        font-size: var(--fontSizeH2);
    }
}

/* !SECTION Blog1 Particular */



/* SECTION Blog2 Particular */

.contenedorBlog2Seccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
    margin-top: 6rem;
}

.blog2Seccion {
    margin: 2rem 0rem 4rem 0rem;
    -webkit-box-shadow: 10px 10px 53px -29px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 53px -29px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 53px -29px rgba(0, 0, 0, 0.75);
    padding: 2rem 1rem 2rem 1rem;
    border-radius: 1rem;
    background-color: var(--colorBody);
    width: 100%;
}

.blog2Titulo {
    color: var(--grisOscuro);
    font-size: var(--fontSizeH3);
    margin-bottom: 3rem;
    margin-top: 2rem;
    position: relative;
    display: inline-block;
}

.blog2Titulo span {
    color: var(--negro);
}

.blog2Titulo::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0%;
    height: 2px;
    width: 100%;
    background-color: var(--colorPrimario);
}

.blog2Seccion h4 {
    color: var(--negro);
    font-size: var(--fontSizeH4);
}

.blog2Seccion p {
    color: var(--negro);
    font-size: var(--fuenteParrafo);
    margin-top: 1rem;
}

.blog2Consejos {
    margin-top: 3rem;
}

.blog2Consejos h3 {
    color: var(--negro);
    font-size: var(--fontSizeH4);
}

.blog2ContenedorLi {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.blog2ContenedorLi li {
    color: var(--negro);
    font-size: var(--fuenteParrafo);
    margin-top: 2rem;
}

.completadoSVG {
    min-width: 2rem;
    min-height: 2rem;
    width: 3rem;
    height: 3rem;
    color: var(--colorPrimario);
}



.blog2Conclusion {
    margin-top: 3rem;
}

.blog2Conclusion h3 {
    color: var(--negro);
    font-size: var(--fontSizeH4);
}

.blog2Conclusion p {
    color: var(--negro);
    font-size: var(--fuenteParrafo);
}


.blog2ImagenesGrid {
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.blog2Imagenes {
    margin: 0 auto;
    width: 15rem;
    height: 12rem;
    object-fit: cover;
    border-radius: 1rem;
}




@media (min-width: 480px) {}

@media (min-width: 768px) {
    .blog2Seccion {
        margin: 4rem 0rem 4rem 0rem;
        -webkit-box-shadow: 10px 10px 53px -29px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 53px -29px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 53px -29px rgba(0, 0, 0, 0.75);
        padding: 3rem;
        border-radius: 1rem;
        background-color: var(--colorBody);
        width: 100%;
    }


    .blog2ImagenesGrid {
        margin: 0 auto;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .blog2Imagenes {
        margin: 0 auto;
        width: 50rem;
        height: 25rem;
        object-fit: cover;
        border-radius: 1rem;
    }
}

@media (min-width: 992px) {}



/* !SECTION Blog2 Particular */

/* SECTION Blog3 Particular */
.blog3 {
    margin-bottom: 6rem;
}

.presentacionBlog3 {
    -webkit-box-shadow: 10px 10px 53px -29px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 53px -29px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 53px -29px rgba(0, 0, 0, 0.75);
    background-color: var(--colorSecundario);
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
}

.presentacionBlog3 p {
    font-size: var(--fuenteParrafo);
    color: var(--grisClaro);
}



.blog3Seccion {
    margin: 2rem 0rem 4rem 0rem;
    -webkit-box-shadow: 10px 10px 53px -29px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 53px -29px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 53px -29px rgba(0, 0, 0, 0.75);
    padding: 2rem 1rem 2rem 1rem;
    border-radius: 1rem;
    background-color: var(--colorBody);
    width: 100%;
}
.blog3Seccion h2 {
    font-size: var(--fontSizeH4);
    position: relative;
    display: inline-block;
    margin-bottom: 3rem;
}

.blog3Seccion h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0%;
    height: 2px;
    width: 100%;
    background-color: var(--colorPrimario);
}

.blog3Seccion img {
    max-width: 65rem;
    max-height: 35rem;
    object-fit: cover;
    border-radius: 1rem;
    width: 100%;
    margin-bottom: 3rem;
}


.blog3SeccionInfo h3 {
    font-size: var(--fontSizeH4);
    color: var(--negro);
    margin-bottom: 1rem;
}


.blog3SeccionInfo p {
    font-size: var(--fuenteParrafo);
}


@media (min-width: 768px) {
    .blog3Seccion {
        margin: 4rem 0rem 4rem 0rem;
        -webkit-box-shadow: 10px 10px 53px -29px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 53px -29px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 53px -29px rgba(0, 0, 0, 0.75);
        padding: 3rem;
        border-radius: 1rem;
        background-color: var(--colorBody);
        width: 100%;
    }


    .blog3Seccion h2 {
        font-size: var(--fontSizeH3);
        position: relative;
        display: inline-block;
        margin-bottom: 3rem;
    }
    

}


/* !SECTION Blog3 Particular */








/* TODO Hacer responsive el blog General */